version: '3.0'

services:
  grafana:
    container_name: 'couchbase-datasource'
    platform: "linux/amd64"
    build:
      context: ./.config
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana-enterprise}
        grafana_version: ${GRAFANA_VERSION:-latest}
    ports:
      - 3000:3000/tcp
    volumes:
      - ./dist:/var/lib/grafana/plugins/couchbase-datasource
      - ./provisioning:/etc/grafana/provisioning
